//Imports
@use '../custom' as *;
@use '../components/mixins' as *;

//Faixa topo
.faixa{
    //color mixin
    @include mix-faixa;
    //dimensions
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100%;
    //Font
    h2{
        margin-top: 5px;
        color: $voporeon-black;
        font-size: 1.5rem;
        display: inline-block;
    }
    
}

.voporeon-main{
    //Left
    .call-collum{
        //dimensions
        
    }
    //Right
    .main-collum-img{
        //dimensions

    }
}