//Imports
@use '../custom' as *;
@use '../components/mixins' as *;

body{
    overflow-x: hidden;
}

//All
.voporeon-all{
    //SVG
    .vopo-svg1{
        @include vopo-faixa;
    }
    .vopo-svg2{
        @include vopo-faixa;
    }
    .vopo-svg3{
        @include vopo-faixa;
    }

}
//Main
.voporeon-main{
    @include vopo-faixa;
    padding: 1rem;

    //left
    .call-collum{
        transform: translate(0%, 5%);
        //btn
        .btn{
            transform: translate(50%, 0%);
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    //right
    .img-collum{
        transform: translate(25%, 0%);
    }
}

//Health
.voporeon-mental{
    @include vopo-blue;
    .vopo-title{
        transform: translate(0%, -70%);
    }
    .card-group{
        padding: 1rem;
    }
    //CARD
    .vopo-card{
        @include vopo-blue;
        padding: 1rem;
        i{
            padding-top: 1rem;
            font-size: 2rem;
        }
        border: 1rem;
    }
}

.voporeon-whyus{
    @include vopo-faixa;
    .why{
        margin-bottom: -5rem;
    }

    //title
    .vopo-title-why{
        transform: translate(0%, -95%);
    }
    ol{
        li{
            padding: 1rem;
        }
    }

    .vopo-box{
        transform: translate(0%, -10%);
        .box-call{
            height: 300px;
            width: 460px;
            background-color: $white;
            border-radius: 50px;
            padding: 2rem;
            transform: translate(20%, -70%);

            button{
                transform: translate(55%, 10%)
            }
        }
    }
}

.voporeon-faq{
    @include vopo-blue;
}

footer{
    @include vopo-blue;
    .vopo-medias{
        .vopo-icon{
            a{
                margin: 2rem;
                font-size: 2rem;
                color: $white;
                
                &:hover{
                    color: $voporeon-orange;
                }
            }
        }
    }
    .vopo-footer-copy{
        a{
            font-size: 1rem;
            text-decoration: none;
            color: white;
            
            &:hover{
                color: $voporeon-orange;
            }
        }
    }
}