//Imports
@use '../custom' as *;

.voporeon-all-confirmacao{
    height: 100%;
    .vopo-box-confirmacao{
        background-color: rgba($voporeon-dark-blue, 0.6);
        border-radius: 50px;
        height: 350px;
        width: 550px;
        color: $white;
        transform: translate(55%, 55%);

        //icon
        .vopo-icon{
            font-size: 2rem;
            margin: 1rem;;
        }
        button{
            transform: translate(0%, 50%);
        }
    }
    
}